
 <div class='chat-wrapper'>


   <div class='chat-message padding'>

     <div class='chat-message chat-message-recipient'>
       <img class='chat-image chat-image-default' src='RedArmyClubCr.png' />

       <div class='chat-message-wrapper'>
         <div class='chat-message-content'>
           <p>Sushi tonight?</p>
         </div>

         <div class='chat-details'>
           <span class='chat-message-localization font-size-small'>Time</span>
           <span class='chat-message-read-status font-size-small'>- Date</span>
         </div>

       </div>
     </div>


   </div>

 </div>
