<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  	<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title>RedArmyClub Live</title>
		<link rel="stylesheet" href="/main.css">
		<link rel="stylesheet" href="/bootstrap.css">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/5.0.7/sweetalert2.min.css">
		<link rel="apple-touch-icon" sizes="57x57" href="/favcon.ico/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/favcon.ico/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/favcon.ico/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/favcon.ico/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/favcon.ico/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/favcon.ico/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/favcon.ico/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/favcon.ico/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/favcon.ico/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="/favcon.ico/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favcon.ico/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="/favcon.ico/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favcon.ico/favicon-16x16.png">
		<link rel="manifest" href="/favcon.ico/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/favcon.ico/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body>
