<% include header.html %>

<style>
	body {
		background-color: #1d1d1d;
		text-align: center;
		letter-spacing: 2px;
	}
	img {
		width: 100%;
		margin-top: 30px;
	}
	h1 {
		color: #eee;
		font-weight: bold;
		padding: 20px;
	}
</style>

<div class="container">
	<h1>Red Army Club <span style="color:red;">Live</span></h1>

	<div class="btn-group btn-group--fixed">
		<a class="btn btn-primary" href="/login">Log In</a>
		<a class="btn btn-primary" href="/register">Register</a>
		<a class="btn btn-primary" href="/chat">Live <span style="color:red;">สด</span></a>
		<a class="btn btn-primary" href="/list">Feed</a>
	</div>


	<center>
		<img style="width:70%;" class="" src="RedArmyClubCr.png" alt="">
	</center>



</div>

<% include footer.html %>
