<% include header.html %>

<style>
	input { margin-bottom: 10px; }
</style>

<div class="container">
	<h1>Login</h1>
	<form method="post">
		<input name="email"
			class="form-control"
			placeholder="Username or Email"
			autofocus >
		<input name="password"
			type="password"
			class="form-control"
			placeholder="Password" >
		<button type="submit"
			class="btn btn-primary">Log In</button>
		<a href="/register" class="btn btn-primary">Register</a>
	</form>
		
</div>

<% include footer.html %>
