<% include header.html %>
<style>
	input, textarea {
		margin-bottom: 10px;
	}
</style>
<div class='container'>
	<h1>New Topic</h1>
	<form action='/save' method='post'
		enctype="multipart/form-data">
		<input name='topic'
			placeholder='Topic'
			class='form-control' 
			autofocus >
		<textarea name='detail'
			placeholder='Detail'
			class='form-control'
		></textarea>
		<input type='file' name='photo' >
		<button class='btn btn-primary'
			type='submit'>Post</button>
	</form>
</div>

<% include footer.html %>