body {
  background-color: #1d1d1d!important;
  color: #eee!important;
}

input[type="text"], textarea {

  background-color : red!important;

}

.form-control {
  background-color: #eee!important;
  color: #1d1d1d!important;
}

h1 {
  color: #eee!important;
}

#chat-history {
  color: #1d1d1d!important;
}
