body {
  background-color: #1d1d1d!important;
  color: #eee!important;
}

input[type="text"], textarea {

  background-color : red!important;

}

.form-control {
  background-color: #eee!important;
  color: #1d1d1d!important;
}

h1 {
  color: #eee!important;
}

#chat-history {
  color: #1d1d1d!important;
}

.btn-group--fixed a {
  background-color: #eee;
  border: #eee 1px solid;
  color: #1d1d1d;
}
.btn-group--fixed a:hover {
  background-color: #1d1d1d;
  border: #eee 1px solid;
  color: #eee;
}

.btn {
  background-color: #eee;
  border: #eee 1px solid;
  color: #1d1d1d;
}

.btn:hover {
  background-color: #1d1d1d;
  border: #eee 1px solid;
  color: #eee;
}
